:root {
  --green: #b9ff66;
  --gray: #f3f3f3;
  --dark: #191a23;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Space Grotesk;
}

body {
  margin: 2rem 100px 0;
  background-color: white;
}

body header {
  display: flex;
  margin-bottom: 70px;
  justify-content: space-between;

  & .header-options {
    display: flex;
    align-items: center;
    & ul {
      display: flex;
      & li {
        list-style: none;
        margin-right: 1rem;
        padding: 0.5rem;
        transition: ease-out 0.2s;
        border-radius: 10px;
      }

      & li:hover {
        cursor: pointer;
        background-color: var(--green);

        scale: 1.05;
      }
    }

    & button {
      padding: 0.7rem;
      background-color: transparent;
      border-radius: 10px;
      transition: ease-out 0.2s;
    }

    & button:hover {
      cursor: pointer;
      background-color: var(--green);
    }
  }
}

body .first-block {
  display: flex;
  justify-content: space-between;

  & .left {
    width: 40%;

    & h1 {
      font-size: 60px;
      margin-bottom: 35px;
    }

    & p {
      font-size: x-large;
      margin-bottom: 35px;
    }

    & button {
      padding: 1rem 1.5rem;
      border-radius: 10px;
      background-color: var(--dark);
      color: var(--gray);
      cursor: pointer;
      font-size: small;
      transition: 0.15s ease-out;
    }

    & button:hover {
      background-color: var(--gray);
      color: var(--dark);
    }
  }

  & .right {
    & img {
      max-width: 100%;
    }
  }
}

body .brands {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;

  & .brand {
    & img {
      filter: saturate(0);
    }
  }
}

body section {
  & .section-head {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 120px;
    & h2 {
      background-color: var(--green);
      border-radius: 5px;
      padding: 4px 10px;
      margin-right: 40px;
      font-size: xx-large;
    }
    & p {
      font-size: large;
      max-width: 580px;
    }
  }
}

body .services {
  & .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    & .card {
      height: 310px;
      width: 49%;
      border-radius: 45px;
      box-shadow: var(--dark) 0px 5px;
      border: solid 1px var(--dark);
      padding: 50px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      & .about-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & h3 {
          font-size: x-large;
        }

        & .learn-more-btn {
          width: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;
          & img {
            max-width: 80%;
            margin-right: 15px;
          }
        }
      }

      & .card-img {
        & img {
          width: 90%;
        }
      }
    }

    & .card:hover {
      transition: 0.2s ease-in-out;
      scale: 102%;
    }
  }

  & #proposal-card {
    display: flex;
    width: 100%;
    background-color: var(--gray);
    border-radius: 45px;
    align-items: center;
    margin-top: 100px;

    & #proposal-left {
      padding: 60px;
      & h3 {
        font-size: 2rem;
        margin-bottom: 1.8rem;
      }

      & p {
        max-width: 60%;
        font-size: 1.2rem;
        margin-bottom: 1.8rem;
      }

      & button {
        color: var(--gray);
        background-color: var(--dark);
        padding: 20px 35px;
        font-size: 1.1rem;
        border-radius: 14px;
        cursor: pointer;
        transition: 0.15s ease-in;
      }

      & button:hover {
        background-color: var(--gray);
        color: var(--dark);
      }
    }

    & #proposal-img {
      position: absolute;
      right: 15%;
    }
  }
}

body .services .cards {
  & .card-gray {
    background-color: var(--gray);

    & .about-card {
      & h3 {
        background-color: var(--green);
        border-radius: 10px;
        padding: 5px;
      }
    }
  }

  & .card-green {
    background-color: var(--green);

    & .about-card {
      & h3 {
        background-color: var(--gray);
        border-radius: 10px;
        padding: 5px;
      }
    }
  }

  & .card-black {
    background-color: var(--dark);

    & .about-card {
      & h3 {
        background-color: var(--gray);
        border-radius: 10px;
        padding: 5px;
      }

      & span {
        color: var(--gray);
      }
    }
  }
}

body #case-studies #irl-examples {
  background-color: var(--dark);
  color: var(--white);
  border-radius: 45px;
  padding: 70px 60px;
  display: flex;

  & .line {
    margin: 0 64px;
    border-right: 1px var(--white) solid;
  }

  & .single-example {
    & p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    & .ex-learn-more {
      display: flex;
      align-items: center;
      cursor: pointer;

      & span {
        color: var(--green);
        font-size: 1.25rem;
        margin-right: 15px;
      }
      &:hover {
        & img {
          transform: rotate(30deg);
          transition: 0.1s ease-in-out;
        }
      }
    }
  }
}

body #work-process {
  & .wp-faq-box {
    background-color: var(--gray);
    border-radius: 45px;
    padding: 40px 60px;
    box-shadow: var(--dark) 0px 5px;
    border: solid 1px var(--dark);
    margin-bottom: 30px;

    & .faq-box-head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .faq-box-title {
        display: flex;
        align-items: center;
      }

      & span {
        font-size: 3.8rem;
        font-weight: bold;
        margin-right: 25px;
      }

      & p {
        font-size: 2rem;
      }

      & .faq-icon {
        cursor: pointer;
      }
    }

    & .faq-content {
      margin-top: 30px;
      border-top: 1px solid var(--dark);
      display: none;
      transition: 0.2 ease-in-out;
      & p {
        font-size: 1.1rem;
        margin-top: 30px;
      }
    }
  }
}

body #team {
  & .team-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  & .team-mate {
    padding: 40px 35px;
    background-color: var(--white);
    border-radius: 45px;
    box-shadow: var(--dark) 0px 5px;
    border: solid 1px var(--dark);
    width: 400px;
    margin-bottom: 40px;
    overflow: hidden;

    & .linkedin-icon {
      position: relative;
      & img {
        position: absolute;
        right: 0.5rem;
      }
    }

    & .tm-top {
      display: flex;
      align-items: end;
      margin-bottom: 28px;
      & .tm-pic {
        margin-right: 1rem;
        & img {
          mask-image: url(./assets/team/Rounded\ star\ vector.svg);
          mask-repeat: no-repeat;
        }
      }

      & .tm-name-pos {
        font-size: 1.2rem;
      }
    }
  }
  & .tm-bottom {
    border-top: 2px solid var(--dark);
    & p {
      font-size: 1.1rem;
      margin-top: 28px;
    }
  }

  & .all-team-box {
    display: flex;
    justify-content: end;
    & button {
      padding: 20px 76px;
      border-radius: 14px;
      background-color: var(--dark);
      color: var(--white);
      cursor: pointer;

      &:hover {
        background-color: var(--white);
        color: var(--dark);
        transition: 0.2s ease-in-out;
      }
    }
  }
}
